@{
    ViewData["Title"] = "Home Page";
    
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
    <img src="~/images/TEAM GM.png" />
</div>


<div class="login mt-5 pt-4">
    <form method="post">
        <input type="text" name="u" placeholder="Usuário" required="required" />
        <input type="password" name="p" placeholder="Senha" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
    </form>
</div>
